################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab_2/v17/Browse.VC.db-shm
/.vs/Lab_2/v17/Browse.VC.db-wal
/.vs/Lab_2/v17/Browse.VC.opendb
/.vs/Lab_2/v17/Browse.VC.db
